.MainContainer {
    padding: 4% 8%;
    box-sizing: border-box;
    text-align: center;
}

.UserCard {
    cursor: pointer;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 2px 2px #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: lightblue;
    text-align: center;
}