body {
    font-family: 'Raleway', sans-serif;
}

.MainContainer {
    padding: 4% 8%;
    box-sizing: border-box;
    text-align: center;
}

.MainContainer button {
    margin-right: 16px;
    font-size: 18px;
}

